#slide_3x0{
    background: transparent url('assets/bg.png') no-repeat 0;
    width: 1920px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.btn-popup-p{
    z-index: 2;
}


/*BACKGROUND DE LOS POPUPS*/
#popup3-0-1{background-image: url('assets/popup1.png');}
#popup3-0-2{background-image: url('assets/popup2.png');}
#popup3-0-3{background-image: url('assets/popup3.png');}
#popup3-0-4{background-image: url('assets/popup4.png');}
#popup3-0-5{background-image: url('assets/popup5.png');}
#popup3-0-6{background-image: url('assets/popup6.png');}
#popup3-0-7{background-image: url('assets/popup7.png');}
#popup3-0-8{background-image: url('assets/popup8.png');}
#popup3-0-9{background-image: url('assets/popup9.png');}

/*POSICIÓN DE LOS BOTONES*/
#slide_3x0 .btn-popup-1{width: 17%;left: 9%;}
#slide_3x0 .btn-popup-2{width: 8.5%;left: 25.8%;}
#slide_3x0 .btn-popup-3{width: 10.2%;left: 34%;}
#slide_3x0 .btn-popup-4{width: 14.6%;left: 44%;}
#slide_3x0 .btn-popup-5{width: 17%;left: 58.5%;}
#slide_3x0 .btn-popup-6{width: 8.8%;left: 75.5%;}
#slide_3x0 .btn-popup-7{width: 6.6%;left: 84.2%;}
#slide_3x0 .btn-popup-p {
    position: absolute;
    top: 38%;
    height: 40%;
}

/*IMAGENES DEL TOGGLE DENTRO DE LOS POPUPS*/
#anim-2x0{background-image: url('assets/popup2x0.png');}
#anim-2x1{background-image: url('assets/popup2x1.png');}
#anim-3x0{background-image: url('assets/popup3x0.png');}
#anim-3x1{background-image: url('assets/popup3x1.png');}
#anim-5x0{background-image: url('assets/popup5x0.png');}
#anim-5x1{background-image: url('assets/popup5x1.png');}
#anim-7x0{background-image: url('assets/popup7x0.png');}
#anim-7x1{background-image: url('assets/popup7x1.png');}
#slide_3x0 .content-anim .prod-1 {background-image: url(assets/popup4x0.png);}
#slide_3x0 .content-anim .prod-2 {background-image: url(assets/popup4x1.png);}
#slide_3x0 .content-anim .prod-3 {background-image: url(assets/popup4x2.png);}

/*.popup3-0-p{
    width: 96%;
    height: 87%;
    top: 5%;
    left: 0%;
}*/

/*TAMAÑO DE LOS POPUPS*/
#slide_3x0 .popup3-0-p{
    width:1850px;
    height:961px;
    top: 5%;
    left: 0%;
}

/*TAMAÑO Y POSICIÓN DEL DIV DE LA ANIMACION*/
#slide_3x0 .content-anim {
    position: absolute;
    width: 546px;
    height: 724px;
    top: 11%;
    left: 6%;
}
/*BOTON DE TOGGLE EN LAS ANIMACIONES*/
#slide_3x0 .toggle-btn {
    position: absolute;
    width: 22%;
    height: 8%;
    top: 89%;
    left: 16%;
    background-size: 100%;
}
#slide_3x0 .anim.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#slide_3x0 .anim{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}


/*CIERRE DE LOS POPUPS*/
#popup3-0-1 .close-popup, #popup3-0-2 .close-popup, #popup3-0-3 .close-popup, #popup3-0-4 .close-popup, #popup3-0-5 .close-popup, #popup3-0-6 .close-popup, #popup3-0-7 .close-popup, #popup3-0-8 .close-popup, #popup3-0-9 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}


/*SWIPPER JQUERY UI*/
#slide_3x0 .ui-widget.ui-widget-content {
    background-image: url(assets/linea.png);
    position: absolute;
    top: 76%;
    left: 10%;
    width: 400px;
    height: 8px;
}
#slide_3x0 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: url(assets/slider.png);
    width: 46px;
    height: 46px;
    font-weight: normal;
    margin-top: -4%;
    outline: none;
    border: 0px;
}
#slide_3x0  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background-color: #911a7e;
}

/*EFECTO TRANSICIÓN SWIPER*/
#slide_3x0 .prod.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#slide_3x0 .prod {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}

/*BOTON ACCESO A EXPOSITORES*/
#slide_3x0 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_3x0 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_3x0 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 30.8%;
    position: absolute;
    z-index: 2;
}
#slide_3x0 .btn-producto2{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 31.8%;
    position: absolute;
    z-index: 2;
}
#slide_3x0 .btn-producto4{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 21%;
    left: 32.8%;
    position: absolute;
    z-index: 2;
}
#slide_3x0 .btn-producto3 {
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 20.8%;
    left: 32.8%;
    position: absolute;
    z-index: 2;
}
#slide_3x0 .btn-home {
    background: transparent url(assets/btn_prec.png) no-repeat center center;
    width: 353px;
    height: 140px;
    position: absolute;
    top: 79%;
    right: 41%;
    background-size: 80%;
}
#slide_3x0 .btn-red {
    background: transparent url(assets/btn_red.png) no-repeat center center;
    width: 122px;
    height: 140px;
    position: absolute;
    top: 79%;
    right: 81%;
    background-size: 80%;
}

.botonet{
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 1;
}

#slide_3x0 .btn_mas_1{
    top: 67.5%;
    left: 17.5%;
}
#slide_3x0 .btn_mas_2{
    top: 69%;
    left: 29.5%;
}
#slide_3x0 .btn_mas_3{
    top: 70%;
    left: 38.5%;
}
#slide_3x0 .btn_mas_4{
    top: 71.5%;
    left: 50.9%;
}
#slide_3x0 .btn_mas_5{
    top: 69.7%;
    left: 66.5%;
}
#slide_3x0 .btn_mas_6{
    top: 68.8%;
    left: 78.8%;
}
#slide_3x0 .btn_mas_7{
    top: 66.2%;
    left: 86.8%;
}