#slide_4x5{background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;}

/*BOTON ACCESO A EXPOSITORES*/
#slide_4x5 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x5 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_4x5 .btn-popup-1{
    left: 7.41%;
    top: 47.61%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-2{
    left: 20%;
    top: 54%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-3{
    left: 24%;
    top: 39.61%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-4{
    left: 29.8%;
    top: 54.61%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-5{
    left: 43.8%;
    top: 61.5%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-6{
    left: 49.9%;
    top: 41.61%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-7{
    left: 60.8%;
    top: 58.8%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-8{
    left: 69.4%;
    top: 46.61%;
    width: 70px;
    height: 70px;
}
#slide_4x5 .btn-popup-9{
    left: 87.9%;
    top: 49.61%;
    width: 70px;
    height: 70px;
}

#popup4-5-1{
    background-image: url('assets/popup1.png');
    width: 1283px;
    height: 396px;
    top: 30%;
    left: 17%;
}

#popup4-5-2{
    background-image: url('assets/popup2.png');
    width: 1283px;
    height: 555px;
    top: 24%;
    left: 16%;
}

#popup4-5-3{
    background-image:  url('assets/popup3.png');
    width: 1283px;
    height: 558px;
    top: 23%;
    left: 15%;
}
#popup4-5-4{
    background-image:  url('assets/popup4.png');
    width: 1283px;
    height: 592px;
    top: 20%;
    left: 16%;
}
#popup4-5-5{
    background-image:  url('assets/popup5.png');
    width: 1434px;
    height: 610px;
    top: 22%;
    left: 11%;
}
#popup4-5-6{
    background-image:  url('assets/popup6.png');
    width: 1283px;
    height: 502px;
    top: 22%;
    left: 16%;
}
#popup4-5-7{
    background-image:  url('assets/popup7.png');
    width: 1283px;
    height: 402px;
    top: 32%;
    left: 16%;
}
#popup4-5-8{
    background-image:  url('assets/popup8.png');
    width: 1434px;
    height: 485px;
    top: 29%;
    left: 11%;
}
#popup4-5-9{
    background-image:  url('assets/popup9.png');
    width: 1434px;
    height: 786px;
    top: 12%;
    left: 12%;
}

#popup4-5-1 .close-popup, #popup4-5-2 .close-popup, #popup4-5-3 .close-popup, #popup4-5-4 .close-popup, #popup4-5-5 .close-popup, #popup4-5-6 .close-popup, #popup4-5-7 .close-popup, #popup4-5-8 .close-popup, #popup4-5-9 .close-popup, #popup4-5-10 .close-popup{
    top: 5%;
    right: 3%;
    width: 100px;
    height: 100px;
}

#slide_4x5 .btn-producto1{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 92%;
    position: absolute;
}
#slide_4x5 .btn-producto2{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 91%;
    position: absolute;
}
#slide_4x5 .btn-producto3{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 89%;
    position: absolute;
}
#slide_4x5 .btn-producto4{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 23%;
    left: 92%;
    position: absolute;
}
#slide_4x5 .btn-producto5{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 91%;
    position: absolute;
}
#slide_4x5 .btn-producto6{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 91%;
    position: absolute;
}
#slide_4x5 .btn-producto7{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 32%;
    left: 92%;
    position: absolute;
}
#slide_4x5 .btn-producto8{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 28%;
    left: 86%;
    position: absolute;
}
#slide_4x5 .btn-producto9{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 26%;
    left: 91%;
    position: absolute;
}
#slide_4x5 .btn-home {
    background: transparent url(assets/btn_prec.png) no-repeat center center;
    width: 353px;
    height: 140px;
    position: absolute;
    top: 79%;
    right: 41%;
    background-size: 80%;
}