.ag-slide-popup {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}

.ag-slide-popup.state-open {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  background-color: rgba(0, 113, 157, 0.85);
  width:100%;
  height:100%;
}

.ag-slide-popup .close-popup-btn {
  font-size: 1.4em;
  position: absolute;
  right:25px;
  top:25px;
  cursor: pointer;
  z-index: 101;
}