#slide_4x0{
    background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;
}
#slide_4x0 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x0 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}
#slide_4x0 .btn-popup-1{
    left: 33%;
    top: 80.61%;
    width: 632px;
    height: 127px;
}
#popup4-0-1{
    background-image: url('assets/popup.png');
    width: 71%;
    height: 78%;
    top: 11%;
    left: 13%;
}
#popup4-0-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}
#slide_4x0 .box-goto1{
    position: absolute;
    width: 615px;
    height: 126px;
    left: 12%;
    top: 25%;
    z-index: 1;
}
#slide_4x0 .box-goto2{
    position: absolute;
    width: 647px;
    height: 126px;
    left: 51%;
    top: 25%;
    z-index: 1;
}