#slide_4x6{
    background: transparent url('assets/bg.png') no-repeat 0;
    width: 1920px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.btn-popup-p{
    position: absolute;
    z-index: 2;
}


/*BACKGROUND DE LOS POPUPS*/
#popup4-6-1{background-image: url('assets/popup1.png');}
#popup4-6-2{background-image: url('assets/popup2.png');}
#popup4-6-3{background-image: url('assets/popup3.png');}
#popup4-6-4{background-image: url('assets/popup4.png');}
#popup4-6-5{background-image: url('assets/popup5.png');}
#popup4-6-6{background-image: url('assets/popup6.png');}
#popup4-6-7{background-image: url('assets/popup7.png');}
#popup4-6-8{background-image: url('assets/popup8.png');}
#popup4-6-9{background-image: url('assets/popup9.png');}

/*POSICIÓN DE LOS BOTONES*/
#slide_4x6 .btn-popup-1{
    width: 5%;
    left: 59%;
    top: 86%;
    height: 9%;
}
#slide_4x6 .btn-popup-2{
    width: 5%;
    left: 88%;
    top: 86%;
    height: 9%;
}
#slide_4x6 .btn-popup-3{
    width: 5%;
    left: 59%;
    top: 86%;
    height: 9%;
}
#slide_4x6 .btn-popup-4{
    width: 5%;
    left: 35%;
    top: 53%;
    height: 9%;
}
#slide_4x6 .btn-popup-5{
    width: 5%;
    left: 73%;
    top: 53%;
    height: 9%;
}
#slide_4x6 .btn-popup-6{
    width: 5%;
    left: 90%;
    top: 53%;
    height: 9%;
}
#slide_4x6 .btn-popup-7{
    width: 5%;
    left: 54%;
    top: 53%;
    height: 9%;
}
#slide_4x6 .btn-popup-8{
    width: 5%;
    left: 30%;
    top: 87%;
    height: 9%;
}

/*IMAGENES DEL TOGGLE DENTRO DE LOS POPUPS*/
#anim-2x0{background-image: url('assets/popup2x0.png');}
#anim-2x1{background-image: url('assets/popup2x1.png');}
#anim-3x0{background-image: url('assets/popup3x0.png');}
#anim-3x1{background-image: url('assets/popup3x1.png');}
#anim-5x0{background-image: url('assets/popup5x0.png');}
#anim-5x1{background-image: url('assets/popup5x1.png');}
#anim-7x0{background-image: url('assets/popup7x0.png');}
#anim-7x1{background-image: url('assets/popup7x1.png');}
#anim-8x0{background-image: url('assets/popup8x0.png');}
#anim-8x1{background-image: url('assets/popup8x1.png');}
#slide_4x6 .content-anim .prod-1 {background-image: url(assets/popup4x0.png);}
#slide_4x6 .content-anim .prod-2 {background-image: url(assets/popup4x1.png);}
#slide_4x6 .content-anim .prod-3 {background-image: url(assets/popup4x2.png);}

/*.popup4-6-p{
    width: 96%;
    height: 87%;
    top: 5%;
    left: 0%;
}*/

/*TAMAÑO DE LOS POPUPS*/
#slide_4x6 .popup4-6-p{
    width:1850px;
    height:961px;
    top: 5%;
    left: 0%;
}

/*TAMAÑO Y POSICIÓN DEL DIV DE LA ANIMACION*/
#slide_4x6 .content-anim {
    position: absolute;
    width: 546px;
    height: 724px;
    top: 11%;
    left: 6%;
}
/*BOTON DE TOGGLE EN LAS ANIMACIONES*/
#slide_4x6 .toggle-btn {
    position: absolute;
    width: 22%;
    height: 8%;
    top: 89%;
    left: 16%;
    background-size: 100%;
}
#slide_4x6 .anim.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#slide_4x6 .anim{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}


/*CIERRE DE LOS POPUPS*/
#popup4-6-1 .close-popup, #popup4-6-2 .close-popup, #popup4-6-3 .close-popup, #popup4-6-4 .close-popup, #popup4-6-5 .close-popup, #popup4-6-6 .close-popup, #popup4-6-7 .close-popup, #popup4-6-8 .close-popup, #popup4-6-9 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}


/*SWIPPER JQUERY UI*/
#slide_4x6 .ui-widget.ui-widget-content {
    background-image: url(assets/linea.png);
    position: absolute;
    top: 76%;
    left: 10%;
    width: 400px;
    height: 8px;
}
#slide_4x6 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: url(assets/slider.png);
    width: 46px;
    height: 46px;
    font-weight: normal;
    margin-top: -4%;
    outline: none;
    border: 0px;
}
#slide_4x6  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background-color: #911a7e;
}

/*EFECTO TRANSICIÓN SWIPER*/
#slide_4x6 .prod.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#slide_4x6 .prod {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}

/*BOTON ACCESO A EXPOSITORES*/
#slide_4x6 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x6 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_4x6 .btn-producto{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 30.8%;
    position: absolute;
    z-index: 2;
}
#slide_4x6 .btn-producto2{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 38%;
    left: 31.8%;
    position: absolute;
    z-index: 2;
}
#slide_4x6 .btn-producto4{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 21%;
    left: 32.8%;
    position: absolute;
    z-index: 2;
}
#slide_4x6 .btn-producto3 {
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 20.8%;
    left: 32.8%;
    position: absolute;
    z-index: 2;
}
#slide_4x6 .btn-home {
    background: transparent url(assets/btn_prec.png) no-repeat center center;
    width: 353px;
    height: 140px;
    position: absolute;
    top: 86%;
    right: 15%;
    background-size: 80%;
}
#slide_4x6 .btn-red {
    background: transparent url(assets/btn_red.png) no-repeat center center;
    width: 122px;
    height: 140px;
    position: absolute;
    top: 79%;
    right: 81%;
    background-size: 80%;
}
/*

#slide_4x6 .boton_expositor {
    width: 78px;
    height: 78px;
    bottom: 43%;
    left: 3%;
    position: absolute;
    z-index: 5;
}*/