[data-module="ag-bcn-openpopup"] {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
[data-module="ag-bcn-openpopup"].active{
    z-index: 102;
}
[data-module="ag-bcn-openpopup"] .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


