#slide_1x0{
    background: transparent url('assets/bg.png') no-repeat 0;
}

.btn-popup-p{
    z-index: 2;
}


/*BACKGROUND DE LOS POPUPS*/
[data-popup="popup1"].slide_1x0{
    background: url('assets/popup1.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}
[data-popup="popup2"].slide_1x0{
    background: url('assets/popup2.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}
[data-popup="popup3"].slide_1x0{
    background: url('assets/popup3.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}
[data-popup="popup4"].slide_1x0{
    background: url('assets/popup4.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}

[data-popup="popup5"].slide_1x0{
    background: url('assets/popup5.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}

[data-popup="popup6"].slide_1x0{
    background: url('assets/popup6.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}

[data-popup="popup7"].slide_1x0{
    background: url('assets/popup7.png') no-repeat center;
    width: 1850px;
    height: 961px;
    margin: 0;
    top: 6%;
    left: 2%;
    z-index: 3;
}
.slide_1x0 .close-popup {
    top: 4.4%;
    left: 93.7%;
    width: 80px;
    height: 80px;
    z-index: 1;
}

/*POSICIÓN DE LOS BOTONES*/
#slide_1x0 .btn-popup-1{width: 17%;left: 9%;}
#slide_1x0 .btn-popup-2{width: 8.5%;left: 25.8%;}
#slide_1x0 .btn-popup-3{width: 10.2%;left: 34%;}
#slide_1x0 .btn-popup-4{width: 14.6%;left: 44%;}
#slide_1x0 .btn-popup-5{width: 17%;left: 58.5%;}
#slide_1x0 .btn-popup-6{width: 8.8%;left: 75.5%;}
#slide_1x0 .btn-popup-7{width: 6.6%;left: 84.2%;}
#slide_1x0 .btn-popup-p {
    position: absolute;
    top: 38%;
    height: 40%;
}

/*IMAGENES DEL TOGGLE DENTRO DE LOS POPUPS*/
#popup2-1{background-image: url('assets/popup2x0.png');}
#popup2-2{background-image: url('assets/popup2x1.png');}
#popup3-1{background-image: url('assets/popup3x0.png');}
#popup3-2{background-image: url('assets/popup3x1.png');}

#popup5-1{background-image: url('assets/popup5x0.png');}
#popup5-2{background-image: url('assets/popup5x1.png');}
#popup7-1{background-image: url('assets/popup7x0.png');}
#popup7-2{background-image: url('assets/popup7x1.png');}
#slide_1x0 .content-anim .prod-1 {background-image: url(assets/popup4x0.png);}
#slide_1x0 .content-anim .prod-2 {background-image: url(assets/popup4x1.png);}
#slide_1x0 .content-anim .prod-3 {background-image: url(assets/popup4x2.png);}


/*TAMAÑO DE LOS POPUPS*/
#slide_1x0 .popup3-0-p{
    width:1850px;
    height:961px;
    top: 5%;
    left: 0%;
}

/*TAMAÑO Y POSICIÓN DEL DIV DE LA ANIMACION*/
.slide_1x0 .content-anim {
    position: absolute;
    width: 546px;
    height: 724px;
    top: 11%;
    left: 6%;
}
/*BOTON DE TOGGLE EN LAS ANIMACIONES*/
.slide_1x0 .toggle-btn {
    position: absolute;
    width: 22%;
    height: 8%;
    top: 89%;
    left: 16%;
    background-size: 100%;
}
.slide_1x0 .anim.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.slide_1x0 .anim{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    /*background-size: 100%;*/
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}


/*SWIPPER JQUERY UI*/
.slide_1x0 .ui-widget.ui-widget-content {
    background-image: url(assets/linea.png);
    position: absolute;
    top: 76%;
    left: 10%;
    width: 400px;
    height: 8px;
}
.slide_1x0 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: url(assets/slider.png);
    width: 46px;
    height: 46px;
    font-weight: normal;
    margin-top: -4%;
    outline: none;
    border: 0px;
}
.slide_1x0  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background-color: #911a7e;
}

/*EFECTO TRANSICIÓN SWIPER*/
.slide_1x0 .prod.show{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.slide_1x0 .prod {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: absolute;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s;
    transition:all 0.4s;
}

/*BOTON ACCESO A EXPOSITORES*/
#slide_1x0 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_1x0 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}


.slide_1x0 .btn-producto-popup3 {
    background: transparent url('assets/producto.png') no-repeat center;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 18.8%;
    left: 25.8%;
    position: absolute;
    z-index: 2;
}
.slide_1x0 .btn-producto-popup4{
    background: transparent url('assets/producto.png') no-repeat 0;
    background-size: 80%;
    width: 99px;
    height: 97px;
    top: 21%;
    left: 32.8%;
    position: absolute;
    z-index: 2;
}

#slide_1x0 .btn-home {
    background: transparent url(assets/btn_prec.png) no-repeat center center;
    width: 353px;
    height: 140px;
    position: absolute;
    top: 79%;
    right: 41%;
    background-size: 80%;
}
#slide_1x0 .btn-red {
    background: transparent url(assets/btn_red.png) no-repeat center center;
    width: 122px;
    height: 140px;
    position: absolute;
    top: 79%;
    right: 81%;
    background-size: 80%;
}

.botonet{
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 1;
}

#slide_1x0 .btn_mas_1{
    top: 67.5%;
    left: 17.5%;
}
#slide_1x0 .btn_mas_2{
    top: 69%;
    left: 29.5%;
}
#slide_1x0 .btn_mas_3{
    top: 70%;
    left: 38.5%;
}
#slide_1x0 .btn_mas_4{
    top: 71.5%;
    left: 50.9%;
}
#slide_1x0 .btn_mas_5{
    top: 69.7%;
    left: 66.5%;
}
#slide_1x0 .btn_mas_6{
    top: 68.8%;
    left: 78.8%;
}
#slide_1x0 .btn_mas_7{
    top: 66.2%;
    left: 86.8%;
}