#slide_4x2{background: transparent url('assets/bg.png') no-repeat 0; background-size: 100%;}

#slide_4x2 .btn-popup-1{
    left: 17%;
    top: 75%;
    width: 131px;
    height: 112px;
    z-index: 2;
}

#popup4-2-1{
    background-image: url('assets/popup1.png');
    width: 1850px;
    height: 961px;
    top: 5%;
    left: 1%;
}

#popup4-2-1 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}
#slide_4x2 .bola.activa {
    background-image: url(assets/boton_activo.png);
}
#slide_4x2 .bola {
    background-image: url(assets/boton_inactivo.png);
}
#slide_4x2 .boton_expositor:hover {
    background: transparent url(assets/boton_expo_ho.png) no-repeat 0;
}
#slide_4x2 .boton_expositor {
    background: transparent url(assets/boton_expo.png) no-repeat 0;
}

#slide_4x2 .bola1 {
    top: 42% !important;
}
#slide_4x2 .bola2 {
    top: 48% !important;
}
#slide_4x2 .bola3 {
    top: 54% !important;
}
#slide_4x2 .content1 {
    background-image: url(assets/content1.png);
    display: none;
    position: absolute;
    width: 1570px;
    height: 645px;
    left: 9.6%;
    top: 20%;
}
#slide_4x2 .content2 {
    background-image: url(assets/content2.png);
    position: absolute;
    display: none;
    width: 1570px;
    height: 645px;
    left: 9.6%;
    top: 20%;
}
#slide_4x2 .show {
    display: block;
}



#slide_4x2 .drag-obj {
    width:70px;
    height:70px;
    cursor:move;
    z-index:1;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#slide_4x2 .drag-obj.activeDrag {
    z-index:2;
}

#slide_4x2 .slider-demo {
    height: 34%;
    width: 37%;
    position: absolute;
    top: 55%;
    left: 54%;
    z-index: -1;
    display: flex;
}

#slide_4x2 #sliderValue {
    background-color:#fff;
    border-radius:20px;
    color:#000;
    float:right;
    margin-right:80px;
    padding:3px 6px;
    text-align:center;
    width:60px;
    box-shadow:2px 2px 4px #333 inset;
}
#slide_4x2 #slideHandle {
    background: transparent url(assets/slider.png) no-repeat center  center;
    cursor: pointer;
    height: 100%;
    /*width: 9.667%;*/
    top: -48%;
    position: relative;
    z-index: -1;
}


#slide_4x2 #sliderDemo {
    background-position: -25% 0;
    background-repeat: no-repeat;
    height: 5%;
    /*width: 32%;*/
    width: 550px;
    top: 84.3%;
    position: relative;
    left: 58.1%;
    z-index: -1;
}

#slide_4x2 #sliderIndication{
    height: 0.7%;
    top: 83%;
    left: 58.1%;
    background-color: #f09b14;
    border-radius: 3%;
    opacity: 0.5;
    z-index: -1;
}
#slide_4x2 .ui-widget.ui-widget-content {
    position: absolute;
    top: 81.85%;
    left: 50%;
    width: 485px !important;
    height: 8px;
}
#slide_4x2 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: url(assets/slider.png);
    width: 63px;
    height: 63px;
    font-weight: normal;
    margin-top: -3%;
    outline: none;
    border: 0px;
}
#slide_4x2 .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background-color: #f09b14;
}
#slide_4x2 .ui-slider-horizontal .ui-slider-handle {
    top: -0.5em;
    margin-left: -.6em;
}
#slide_4x2 .btn-home {
    background: transparent url(assets/back.png) no-repeat center center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 8%;
    right: 1%;
    background-size: 70%;
}

#popup4-2-2{
    background-image: url('assets/popup2.png');
    width: 96%;
    height: 88%;
    top: 5%;
    left: 0%;
}
#slide_4x2 .btn-popup-2 {
    background-image: url('assets/btn_mas.png');
    width: 50px;
    height: 50px;
    left: 3%;
    top: 50%;
    background-size: 100%;
}
#popup4-2-2 .close-popup{
    top: 0%;
    right: 0%;
    width: 11%;
    height: 16%;
}