/* Root level styling */
body, #presentation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* prevent content to move out of screen when keyboard is up on iOS7 */
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica", sans-serif; /* set default font from fonts.css */
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    body{
        width: 768px !important;
        height: 1024px !important;
    }

    html{
        height: 100%;
        max-height: 1024px;
    }}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    body{
        width: 1024px !important;
        height: 768px !important;
    }

    html{
        height:100%;
        max-height: 768px;
    }
    @media (max-height: 700px) {
        html{
            height:100%;
            max-height: 671px;
        }
    }
}
@-ms-viewport { width: 1920px !important; }

.ag-slide-popup .close-popup-btn {
    width: 100px;
    height: 120px;
}

.ag-slide-popup.state-open {
    z-index: 1;
}

.ag-slide-popup{
    position: relative;
}
.btn{
    position: absolute;
    width: 48px;
    height: 80px;
    bottom: 0px;
    z-index: 1;
}
.abs {
    position: absolute;
}
.logo{
    background: transparent url('assets/logo.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    height: 92px;
    width: 92px;
    right: 3.5%;
    top: 8%;
    z-index: 1;
    background-size: 100%;
}
.logo_b{
    background: transparent url('assets/logo_b.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    height: 92px;
    width: 92px;
    right: 3.5%;
    top: 8%;
    z-index: 1;
    background-size: 100%;
}

.boton_expositor,
.btn-producto{
    position: absolute;
    width: 90px;
    height: 90px;
    background: transparent  no-repeat center center;
    z-index: 2;
}
.boton_expositor{bottom: 43%; left: 2%;}


.btn-formacion-p{
    background-image: url(assets/btn-formacion-bepanthol.png);
    background-repeat: no-repeat;
    width: 171px;
    position: absolute;
    height: 223px;
    left: 7%;
    background-size: 120%;
    top: 3%;
    background-position: center;
}
.btn-formacion-p2{
    background-image: url(assets/btn-formacion-bepanthol2.png);
    background-repeat: no-repeat;
    width: 152px;
    position: absolute;
    height: 193px;
    left: 7%;
    background-size: 100%;
    top: 3%;
    background-position: center;
}



.slide-ginecanesten .btn-formacion {    background-image: url('assets/btn-formacion-gine.png');}
.slide-funsol .btn-formacion {    background-image: url('assets/btn-formacion-funsol.png');}
.slide-iberogast .btn-formacion {    background-image: url('assets/btn-formacion-iber.png');}
.slide-ginecanesten .btn-formacion:hover {    background-image: url('assets/btn-formacion-gine-active.png');}
.slide-funsol .btn-formacion:hover {    background-image: url('assets/btn-formacion-funsol-active.png');}
.slide-iberogast .btn-formacion:hover {    background-image: url('assets/btn-formacion-iber-active.png');}

#especial3xcapa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 70;
}

#especial3xpopup{
    background: transparent url('assets/popup3x.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 89%;
    z-index: 71;
}

#especial3cerrar_popup{
    /* background: red; */
    position: absolute;
    top: 5%;
    left: 94%;
    width: 5%;
    height: 10%;
}
#especial3x2capa_popup{
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 70;
}

#especial3x2popup{
    background: transparent url('assets/popup3x-2.png') no-repeat 0;
    background-size: 100%;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 89%;
    z-index: 71;
}



/*ESTILOS PARA CENTRAR LOS BULLETS*/
.bullets-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    position: absolute;
    right: 2%;
}
.bullets-container-row {
    width: auto;
}
.bola {
    background: url('assets/boton_inactivo.png');
    height: 20px;
    margin: 35px 0;
    padding: 20px;
    background-size: 100%;
}
.bola-home{
    background: url('assets/boton_home.png');
    height: 20px;
    margin: 35px 0;
    padding: 20px;
    background-size: 100%;
}








.oculto{
    display: none;
}
.ocultoFade{
    opacity: 0;
    visibility: hidden;
}

.displaynone{
    display: none; 
}


/*.bola_activa_1{
    background: url(assets/boton_activo_1.png) center no-repeat !important;
    background-size: 100%;
}
.bola_activa_2{
    background: url(assets/boton_activo_2.png) center no-repeat !important;
    background-size: 100%;
}
.bola_activa_3{
    background: url(assets/boton_activo_3.png) center no-repeat !important;
    background-size: 100%;
}
.bola_activa_4{
    background: url(assets/boton_activo_4.png) center no-repeat !important;
    background-size: 100%;
}*/

/*.expositorx2{
    background: url(assets/boton_expositor2.png) center no-repeat !important;
    background-size: 100%;
}*/


sub,
sup {
    font-size: 75%;
    vertical-align: super;
}

#js-close-videos {
    background: transparent url(assets/close.popup.png) 0 no-repeat;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    right: 8.5%;
    top: 11%;
}